<form action="/decks" method="post">

  <p>
    <label for="name">Deck Name: </label>
    <input type="text" id="name" name="name">
  </p>

  <!-- Add button inputs collected in array, .join to convert to string -->
  <p>
    <label for="color">Deck Color(s): </label>
    <input type="checkbox" name="color[]" value="W" id="White">
    <label for="White">White</label>
    <input type="checkbox" name="color[]" value="B" id="Black">
    <label for="Black">Black</label>
    <input type="checkbox" name="color[]" value="G" id="Green">
    <label for="Green">Green</label>
    <input type="checkbox" name="color[]" value="R" id="Red">
    <label for="Red">Red</label>
    <input type="checkbox" name="color[]" value="U" id="Blue">
    <label for="Blue">Blue</label>
    <!-- <input type="text" id="color" name="color"> -->
  </p>

  <p>
    <label for="size">Deck Size: </label>
    <input type="number" id="size" name="size">
  </p>

  <input type="submit" value="Create Deck">

</form>
