<a href="/decks/new">Create a New Deck</a>

<h1>Your Decks</h1>

<% @user.decks.each_with_index do |deck, i| %>

  <div class="deck">

    <h3>Deck# <%= i + 1  %></h3>

    <p>Deck Name: <%= deck.name %></p>

    <p>Deck Color(s): <%= deck.color %></p>

    <p>Deck Size: <%= deck.size %> cards </p>
  </div>

<% end %>
