<h1>Welcome to Magic the Gathering Deck Builder</h1>

<h3>Use this tool to track your MTG decks that you have created and all of the cards in your collection!</h3>

<a href="/users/signup"><button type="button" name="signup">Signup</button></a>

  <p>
    or
  </p>

<a href="/users/login"><button type="button" name="signup">Login</button></a>
