<h1>Welcome to Magic the Gathering Deck Builder</h1>

<h3>Use this tool to create and track MTG decks and to catalog all of the cards in your collection!</h3>

<!-- <img src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=159246&type=card" alt=""> -->

<a href="/users/signup"><button type="button" name="signup">Signup</button></a>

  <p>
    or
  </p>

<a href="/users/login"><button type="button" name="signup">Login</button></a>
