<h1>Welcome to Magic the Gathering Deck Builder</h1>

<form action="/users/login" method="post">

  <p>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
  </p>

  <p>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
  </p>

  <input type="submit" id="submit" value="Login">

</form>

  <p>
    or
  </p>

<a href="/users/signup"><button type="button" name="signup">Signup</button></a>
