<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Magic the Gathering Deck Builder</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/decks"><%= "Your Decks" if is_loggedin? %><span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/cards"><%= "Your Cards" if is_loggedin? %></a>
        </div>
      </div>

      <div>
        <%=
        if is_loggedin?
          <<-HTML
          Welcome, #{current_user.username}.
          <a class="btn btn-primary btn-sm" href="/users/logout" role="button">Logout</a>
          HTML
        else
          <<-HTML
            <a class="btn btn-primary btn-sm" href="/users/signup" role="button">Signup</a>
            or
            <a class="btn btn-primary btn-sm" href="/users/login" role="button">Login</a>
          HTML
        end %>
      </div>
    </nav>

    <div class="jumbotron">
      <h2 class="display-4">Magic the Gathering Deck Builder</h2>
      <p class="lead">Use this tool to create and track MTG decks and to catalog all of the cards in your collection.</p>
      <!-- <hr class="my-4"> -->
    </div>

    <div class="container">

      <%= yield %>

    </div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </body>
  <footer>

  </footer>
</html>
