<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Magic the Gathering Deck Builder</title>
  </head>
  <body>

    <%= yield %>

  </body>
  <footer>
      <p>
        <a href="/decks"><%= "Your Decks" if is_loggedin? %></a>
        <a href="/users/logout"><button type="button" name="button"> <%= "Logout" if is_loggedin? %></button></a>
      </p>
  </footer>
</html>
